<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <img class="img-responsive img-circle" src="../client/resources/user-image.png" height="150px" width="150px">
            <br><br>
            <ul class="nav nav-sidebar">

                <li><a href="#/profile">Overview </a></li>
                <li  class="active"><a href="#">Friends<span class="sr-only">(current)</span></a></li>

            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Friends</h1>

            <div class="table-responsive form-group">
                <ul class="list-group">


                        <li class="list-group-item" ng-repeat="friend in user.friends">

                            <a href="#/profile/{{friend}}">
                                {{friend}}
                            </a>
                        </li>
                    </ul>


                </div>
        </div>
    </div>
</div>