<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <img src="http://localhost:3000/client/resources/user-image.png" border="1px" height="150px" width="150px">
            <br><br>
            <ul class="nav nav-sidebar">

                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Saved Items</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Friends</h1>

            <div class="table-responsive form-group">
                <ul class="list-group">


                        <li class="list-group-item" ng-repeat="friend in user.friends">

                            <a href="#/profile/{{friend}}">
                                {{friend}}
                            </a>
                        </li>
                    </ul>


                </div>
        </div>
    </div>
</div>