<div class="container-fluid">
    <h2>{{destinationDetail.name}}</h2>

    <div class="row">

        <div class="col-md-3">
            <img ng-src="{{destinationDetail.image_url}}" height="200px" width="200px" class="pull-left"/>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Destination Name</td>
                    <td>{{destinationDetail.name}}</td>

                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{destinationDetail.description}}</td>

                </tr>
                <tr>
                    <td>Things To Do</td>
                    <td>{{destinationDetail.ttd}}</td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <br><br>
    <div ng-include="'./views/comment/comment.view.html'"></div>
</div>
</div>