    <div class="container-fluid">
        <h2>{{hotelDetails.name}}</h2>

        <div class="row">

            <div class="col-md-3">
                <img ng-src="{{hotelDetails.image_url}}" height="200px" width="200px" class="pull-left"/>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Phone Number:</td>
                        <td>{{hotelDetails.phone}}</td>

                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{hotelDetails.rating}}/5</td>

                    </tr>
                    <tr>
                        <td>Number of Reviews</td>
                        <td>{{hotelDetails.review_count}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{hotelDetails.location.display_address.toString()}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <br><br>

        <!--

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
            <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-google-map>

        -->
        <div ng-include="'./views/comment/comment.view.html'"></div>
    </div>







    </div>