<div class="container-fluid">
    <h2>{{restaurantDetail.name}}</h2>

    <div class="row">

        <div class="col-md-3">
            <img ng-src="{{restaurantDetail.image_url}}" height="200px" width="200px" class="pull-left"/>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Restaurant Address</td>
                    <td>{{restaurantDetail.address}}</td>

                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{restaurantDetail.phone}}</td>

                </tr>
                <tr>
                    <td>URL</td>
                    <td><a href="{{restaurantDetail.url}}">{{restaurantDetail.url}}</a></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <br><br>
    <div ng-include="'./views/comment/comment.view.html'"></div>
</div>
</div>


