<div class="container-fluid">
    <br>




    <form class="form-horizontal" ng-submit="search(query)">
        <div class="form-group">
            <label for="inputQuery" class="col-sm-2 control-label">What are you looking for</label>

            <div class="col-sm-8">

                <input type="text" class="form-control" id="inputQuery" placeholder="Search Me"  ng-autocomplete ng-model="query" options="options" details="details"/>
            </div>
        </div>
    </form>





    <div class="row">
        <div class="col-md-12">
            <div  class="col-md-4">

                <h3>Search Results</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price Level</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="place in scopePlaceList">
                            <td>
                                <a href="#/placedetail/{{place.place_id}}">
                                    {{place.name}}
                                </a>
                            </td>
                            <td>
                                {{place.price_level}}
                            </td>
                            <td>
                                {{place.rating}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="placescontainer">
                <div id="map" class="col-md-8"></div>
            </div>
        </div><!-- /map-outer -->



    </div>
</div>