
    <h1 class="page-header">Admin</h1>

    <ul class="nav nav-tabs">
        <li class="active" ><a href="#/admin">Users</a></li>
        <li><a href="#/comments">Comments</a></li>
        <li><a href="#/destination">Destination</a></li>
        <li><a href="#/itinerary">Itinerary</a></li>
        <li><a href="#/recipe">Recipe</a></li>
        <li><a href="#/restaurants">Restaurants</a></li>
    </ul>
    <div style="width: 100%; height: 200px; border: 2px solid black">
        <table class="table table-bordered table-striped" ng-controller="AdminController">
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>User Id</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>User Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</th>
            </tr>
            <tr>
                <td><input ng-model="tempUser._id" type="text" class="form-control" id="inputUserId3" placeholder="Id"></td>
                <td><input ng-model="tempUser.username" type="text" class="form-control" id="inputUsername3" placeholder="Name"></td>
                <td> <a ng-click="addUser(tempUser)" class="glyphicon glyphicon-plus" aria-hidden="true"></a>
                    <a ng-click="updateUser(tempUser)" class="glyphicon glyphicon-ok" aria-hidden="true"></a></td>
            </tr>
            <tr ng-repeat="tempUser in allUsers"
                ng-class="{'success' : $index == selectedFormIndex}">
                <td>
                    <a href="#/admin.view.html/{{user._id}}/userdetails">{{tempUser._id}}</a>
                </td>

                <td>
                    {{tempUser.username}}
                </td>

                <td> <a ng-click="deleteUser(tempUser)" class="glyphicon glyphicon-remove" aria-hidden="true" color="black"></a>
                    <a ng-click="selectUser(tempUser)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a></td>
            </tr>
        </table>
    </div>
