<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Explore With Me!!!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : $location.url().indexOf('register') > 0}">
                    <a  href="#/search">Place Search</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('register') > 0}">
                    <a ng-show="!user" href="#/register">Register</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('food') > 0}">
                    <a href="#/food">Food Search</a>
                </li>

                <li ng-show="user" ng-class="{'active' : $location.url().indexOf('home') > 0}">
                    <a href="{$location.path()}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publish <span class="caret"></span></a href="#">
                    <ul class="dropdown-menu">
                        <li><a href="#/add-recipe">Add Recipe</a></li>
                        <li><a href="#/add-restaurant">Add Restaurant</a></li>
                        <li><a href="#/add-destination">Add Destination</a></li>
                        <li><a href="#/add-itinerary">Add Itinerary</a></li>
                    </ul>
                </li>

                <li ng-show="user" ng-class="{'active' : $location.url().indexOf('home') > 0}">
                    <a href="{$location.path()}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a href="#">
                    <ul class="dropdown-menu">
                        <li><a href="#/search-recipe">Search Recipe</a></li>
                        <li><a href="#/search-restaurant">Search Restaurant</a></li>
                        <li><a href="#/search-destination">Search Destination</a></li>
                        <li><a href="#/search-itinerary">Search Itinerary</a></li>
                        <li><a href="#/search-user">Search User</a></li>
                    </ul>
                </li>


                <li ng-class="{'active' : $location.url().indexOf('login') > 0}">
                    <a ng-show="!user" href="#/login">Login</a>
                </li>

                <li ng-show="user" ng-class="{'active' : $location.url().indexOf('profile') > 0}">
                    <a href="#/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a href="#">
                    <ul class="dropdown-menu">
                        <li><a href="#/friend">Friends</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Saved Items</a></li>
                        <li><a href="#/myitems">My items</a></li>
                    </ul>
                </li>

                <li ng-class="{'active' : $location.url().indexOf('admin') > 0}">
                    <a ng-show="user && user.roles.indexOf('admin')>=0" href="#/admin">Admin</a><!-- && user.roles.indexOf('admin')>=0-->
                </li>
                <li ng-class="{'active' : $location.url().indexOf('home') > 0}">
                    <a ng-click="logout(user)" ng-show="user" href="#/home.">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>